<div>
	
</div>
<header>


	<div class="menu">

		<nav>
			<ul class="flex">
				<li>
					<a href="{{path('accueil')}}">Accueil</a>

				</li>
				<li>
					<a href="{{path('boutique')}}">Boutique</a>
				</li>
				<li>	<a href="{{path('contact')}}">Contact</a></li>
			
			</ul>
		</nav>
	</div>

</header>
