{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<br>
<p><a href="{{path('contact_afficher')}}">Afficher les donnees!!</a><br></p>
<p><a href="{{path('ajouter_contact')}}">Ajouter  les donnees!!</a></p>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <span><p>page de contact</p></span>
   
</div>
{% endblock %}
